<h3>Heroe <small>{{ hero.name }}</small></h3>

<button [routerLink]="['/heroes']"
        class="btn btn-outline-danger"
        type="button"
        >Go Home
</button>

<button (click)="addNewHero(form)"
        class="btn btn-outline-success"
        type="button"
        >New Hero
</button>

<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="save()" #form="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="hero.name" 
              type="text"
              name="name"
              class="form-control"
              placeholder="Name of hero"
              required>
      </div>
        <div class="form-group">
        <label>House</label>
        <select class="form-control" [(ngModel)]="hero.house" name="house">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>
        <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="hero.bio" 
              type="text"
              name="bio"
              class="form-control">
        </textarea>
      </div>

      <div class="form-group">
        <button [disabled]="!form.valid"
              type="submit"
              name="button"
              class="btn btn-outline-primary">
              Save Changes
        </button>
      </div>

    {{ form.valid }}


    </form>
  </div>
</div>